.mob {
    display: flex;
    justify-content: space-between;
        img {
            height: 270px;
        }
        h2 {
         font-family: 'MinecraftTitle', sans-serif;
         margin: 0px;
        }

}

.mob-first {
    display: flex;
    padding-right: 25px;
    padding-top: 35px;
    padding-bottom: 35px ;
    padding-left: 50px;
    border-right: 3px solid #3E3232;
    border-bottom: 3px solid #3E3232;
}

.mob-first-text {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    border: 2px dashed #3E3232;
    border-right: none;
    padding: 10px 10px 0px 10px;
}

.mob-second { 
    display: flex;
    padding-left: 25px;
    padding-top: 35px;
    padding-bottom: 35px ;
    padding-right: 50px;
    border-bottom: 3px solid #3E3232;
}

.mob-second-text { 
    display: flex;
    flex-direction: column;
    max-width: 50%;
    padding: 10px 10px 0px 10px;
}