.landing {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'MinecraftTitle', sans-serif;
    font-size: 50px;
    padding: 20px 0px 20px 0px;
    border-top: 7px solid #3E3232;
    border-bottom: 7px solid #3E3232;
    width: 90%;
    text-align: center;
    margin: auto;
}